.router {
    background-image: url('/fantasy-background-city.jpg');
    background-attachment: fixed;  
    background-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 98.9vw; //I have no idea what I'm doing but it's working
}

.home, .account, .about, .blog, .portfolio {
    margin-left: 16vw; 
    overflow: hidden; //Also here.
}

.home {
    margin: 0;
    padding: 0;
    .container {
        margin: 0;
        padding: 0;
        .loginWindow {

            background-color: rgba(0, 0, 0, 0.5);
            height: 70vh;
            width: 66%;
            margin: 5vw 0 0 17vw ;
            position: relative;
            border-radius: 10px;


            .loginHeader {
                
                h3 {
                    font-size: 3vh;
                    margin: 25px 0 10px;
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 50px;
                        box-shadow: 2px 0px 20px 2px rgba(255, 255, 255, 0.9);
                        width: 33%;
                        margin-top: 1px;
                    }
                }
            }

            .loginBody {
                font-size: 15px;
                color: white;
                padding-top: 0;
                .mainImg {
                    height: 15vh;
                    margin: 0;
                }
             
                
                .login {

                    .loginImg {
                        margin-left: -3vw;
                        width: 3vw;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .userInput {
                        border: 1px solid black;
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 40%;
                        height: 4vh;
                        font-size: 2vh;
                        text-align: center;
                        background-color: rgba(10, 12, 15, 0.9);
                        color: white;
                    }
                }

                .password {
                    margin-bottom: 0px;
                    margin-top: 15px;

                    .passwordImg {
                        margin-left: -3vw;
                        width: 3vw;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    input {
                        border: 1px solid black;
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 40%;
                        height: 4vh;
                        font-size: 2vh;
                        text-align: center;
                        background-color: rgba(10, 12, 15, 0.9);
                        color: white;
                    }
                }

                .rememberCheckbox {
                    padding: 0;
                    width: 60%;
                    font-size: 70%;
                    text-align: center;
                    margin-left: 0;

                    .checkbox {
                    }
                }

                .loginBtn {
                    margin-top: 30px;
                    margin-bottom: 10px;
                    width: 100px;
                    height: 45px;
                    font-size: 25px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    border-radius: 5px;
                    border-color: rgba(214, 210, 210, 0.585);
                    background-color: rgba(50, 49, 49, 0.918);
                    color: rgb(159, 159, 159);
                    box-shadow: 2px 0px 20px 2px rgba(255, 255, 255, 0.9);
                }
            }

            .loginFooter {
                background-color: yellow;
                width: 99%;
                height: 3vh;
                margin-left: 0.5%;
                border-radius: 4px;
                box-shadow: 0px 0px 200px 20px rgba(179, 177, 116, 0.9);
                //This one is cool. PhotoShop in css xD
                position: absolute;
                bottom: 1vh;
                display: flex;
                flex-direction: row;

                
                .signUp, .forgotPassword {
                    font-size: 2vh;
                    font-weight: bold;
                    margin-left: 12vw;  
                    border: 1px solid rgba(255, 230, 0, 0.5);
                    border-radius: 15px;
                    box-shadow: 0px 0px 20px 1px rgba(221, 218, 21, 0.9);
                    

                    a {
                        text-decoration: none;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 759px) {
        .container {
            .loginWindow {
                width: 90vw;
                height: 80vh;
                margin: 8vh auto auto 5vw;
                .loginHeader {
                    h3 {  
                        img {
                            width: 71vw;
                        }
                    }
                }

                .loginBody {
                    .mainImg {
                        height: 18vh;
                        position: relative;
                        margin-bottom: 1vh;
                    }

                    .login {
                        margin-bottom: 2vh;
                        input {
                            width: 70vw;
                        }
                        .loginImg {
                            width: 10vw;
                        }
                    }
                    .password {
                        input {
                            width: 70vw;
                        }
                        .passwordImg {
                            width: 10vw;
                        }
                    }

                    :link {
                        input {
                            width: 30vw;
                            height: 10vh;
                            border-radius: 13px;
                            margin-left: 5vw;
                            margin-top: 5vh;
                        }
                    }
                }
                
                
                .loginFooter {
                    background-color: yellow;
                    width: 98%;
                    height: 9.5vh;
                    margin-left: 1%;
                    border-radius: 4px;
                    box-shadow: 0px 0px 100px 5px rgba(179, 177, 116, 0.9);
                    position: absolute;
                    bottom: 1vh;
                    display: flex;
                    flex-direction: column;
                    
                    .signUp, .forgotPassword {
                        font-size: 2.2vh;
                        font-weight: bold;
                        margin-left: 0;
                        margin-top: 1vh;  
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        a {
                            text-decoration: none;
                        }
                    }
                }


            }
        }
    }

}

.contact {
    color: crimson;
    font-size: 400px;

}

.about {

}

.blog {

}

.portfolio {
    
}

.userProfile {
    background-color: blue;
    font-size: 40px;
    color: wheat;
}