.router {
    background-image: url('/fantasy-background-city.jpg');
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
    position: absolute;
    width: 98.9vw; //I have no idea what I'm doing but it's working
}

.home, .account, .about, .blog, .portfolio {
    margin-left: 16vw; 
    overflow: hidden; //Also here.
}

.home {
    .container {
        .loginWindow {

            background-color: rgba(0, 0, 0, 0.5);
            height: 600px;
            width: 20vw;
            margin: 10vw 0vw 0vw 32vw;

            border-radius: 10px;


            .loginHeader {
                h3 {
                    color: white;
                    font-size: 35px;
                    margin: 25px 0px 40px;
                    padding-top: 20px;
                }
            }

            .loginBody {
                font-size: 15px;
                color: white;
                
                .mainImg {
                    height: 200px;
                    margin: 0;
                }
             
                
                .login {
                    margin: 20px;

                    .loginImg {
                        width: 50px;
                        display: inline-block;
                        vertical-align: middle;;
                    }

                    input {
                        border: 1px solid black;
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 280px;
                        height: 35px;
                        font-size: 18px;
                    }
                }

                .password {
                    margin-bottom: 10px;

                    .passwordImg {
                        width: 50px;
                        display: inline-block;
                        vertical-align: middle;;
                    }
                    
                    input {
                        border: 1px solid black;
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 280px;
                        height: 35px;
                        font-size: 18px;
                    }
                }
            }

            .loginFooter {
                background-color: yellow;
                width: 20vw;
                height: 40px;
                border-radius: 4px;
                bottom: 0;
                position: absolute;
            }

        }
    }

}

.contact {
    color: crimson;
    font-size: 400px;

}

.about {

}

.blog {

}

.portfolio {
    
}