nav.responsive-toolbar {    
    background-color: rgba(90, 90, 90, 0.666);
    
    height: 100vh;

    position: fixed;
    z-index: 1;             /* Stay on top */
    top: 0;                 /* Stay at the top */
    left: 0;
    margin-left: 0;
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 50px;      /* Place content 60px from the top */

    box-shadow: 2px 0px 20px 2px rgba(255, 255, 255, 0.789);
    
        figure {
            margin: 0;
            cursor: pointer;
        
            img {
                width: 4.4vw;
                margin-left: 1vw;
            }
        } 

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 6.3vw;
            padding-inline-start: 0px;  //fuck chrome
            transition-duration: 2s;
            -webkit-transition-duration: 0.5s;
            
            
            a {
                margin: 0;
                padding: 0;
                visibility: hidden;
                font-size: 2vw;
                font-weight: 600;
                text-decoration: none;
                color: white;
                display: flex;
                flex-direction: row-reverse;


                i {
                    visibility: visible;
                    margin-left: 1vw;
                    padding-right: 6px;
                }
            }

            
            li {
                list-style-type: none;
                padding: 10px 20px;
            }

            .userProfileBtn {
                margin-top: 25vh;
                margin-left: 1vw;
                
                img {
                    height: 80px;
                    visibility: visible;
                    margin: 0;
                }

                a { 
                    width: 80px;
                }

            }

            .logOutBtn {
                margin: 0;
                position: relative;
                img {
                    padding-right: 2vw;
                    position: absolute;
                    margin-left: 1vw;
                    height: 8vh;
                    
                }
                
                a {
                    margin-left: 4vw;
                    position: relative;
                }
            }

            &.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15vw;
                margin-left: 0;
                transition: width 20vw;
                transition-duration: 2s;
                -webkit-transition-duration: 0.5s;
                
                
                a {
                    text-align: center;
                    visibility: visible;

                    i {
                    }
                }

                .userProfileBtn {
                    margin: 0;
                    position: relative;
                    img {
                        padding-right: 2vw;
                        position: absolute;
                        margin-left: -4vw;
                        height: 8vh;
                        
                    }
                    
                    a {
                        margin-left: 4vw;
                        position: relative;
                    }
    
                }

                .logOutBtn {
                    margin: 0;
                    position: relative;
                    img {
                        padding-right: 2vw;
                        position: absolute;
                        margin-left: -6vw;
                        height: 8vh;
                        
                    }
                    
                    a {
                        margin-left: 4vw;
                        position: relative;
                    }
                }

            }

        }

}



@media screen and (max-width: 759px) {
///TUTEJROBOTA

 nav.responsive-toolbar {
     position: fixed;
    ul {
        //background-image: url('/fantasy-background-city.jpg');
        background: #333;
        height: 100%;
        width: 300px;
        left: -240px;
        position: fixed;
        top: 60px;
        flex-direction: column;
        transition: 300ms ease all;

        &.active {
            left: 0px;
        }

        figure {
            position: fixed;
            left: -15px;
            top: 10px;
        }

        li {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        
        a {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 16px;
        }

    }
 }
}
