nav.responsive-toolbar {
        background: #333;
        background-image: url('/fantasy-background-city.jpg');
        
        height: 60px;
        width: 100%;
        position: fixed;
        box-shadow: 20px 0px 20px #ccc;
    
 }

 ul {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    height: 100%;
    align-items: center;
    
    li {
        list-style-type: none;
        padding: 10px 20px;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    i {
        margin-right: 7px;
        font-size: 18px;

    }
 }